:root {
    --kitty: #e90d2f;
    --pompom: #f6f2af;
    --twins: #c3b1e1;
    --cinna: #b0daec;
    --mymel: #ffa0ce;
    --kerro: #86c66c;
    ;
}

body {
    font-family: ui-rounded, sans-serif;
    line-height: 1.6;
    color: #000000;
    padding: 20px;
    background-image: url('Photos/Sanrio Villagers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #b0daec;
}

header {
    background-color: rgba(0,0,0,0);
    color: rgb(0,0,0);
    padding: 15px 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(0,0,0);
    text-decoration: none;
}

#main-content {
    padding: 20px;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.button {
    display: inline-block;
    padding: 50px 50px;
    background-image: url('Buttons/Étoile.png');
    color: #c3b1e1;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: rgba(0,0,0,0);
    color: rgb(0,0,0);
}
